:root {
  --dark: #131313;
  --yellow: #fd3;
  --dark-gray: #858585;
  --gray: #dad6d6;
  --orange: #f42;
}

html {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Navbar */

.nav-top-right:last-child {
  padding-right: 1rem;
}

.nav-top {
  height: 2.2rem;
  background-color: var(--dark);
}

.nav-middle {
  height: 3rem;
}

.icons {
  color: var(--gray);
  position: relative;
  padding: 1rem;
}

.fa-bars {
  display: none;
}

.nav-middle-right::before {
  content: "";
  width: 2px;
  height: 3rem;
  background: var(--gray);
  position: absolute;
  margin-right: 1rem;
}

.nav-bottom {
  background: var(--yellow);
  height: 2rem;
  padding: 0 1.2rem;
}

p,
a {
  color: var(--dark-gray);
  font-size: 0.8rem;
}

.nav-bottom p {
  display: inline-block;
  font-size: 0.8rem;
}

/* Banners */

.banners {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "b b s1"
    "b b s2";
  grid-gap: 1rem;
  color: #fff;
  margin: 1rem;
}

.banner-1 {
  background:
    linear-gradient(
      to bottom,
      rgba(47, 48, 49, 0.726),
      rgba(19, 3, 15, 0.73)
    ),
    url("../img/big\ banner.jpg");
  grid-area: b;
  height: 448px;
  background-position: center;
  background-size: cover;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.banner-heading-big {
  font-size: 3rem;
  font-weight: 700;
}

.banner-2 {
  grid-area: s1;
  background:
    linear-gradient(
      to bottom,
      rgba(47, 48, 49, 0.726),
      rgba(19, 3, 15, 0.73)
    ),
    url("../img/header-image-bernie-sitting-meme-analysis-516x270.webp");
  background-position: center;
  background-size: cover;
  height: 216px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.banner-3 {
  grid-area: s2;
  background:
    linear-gradient(
      to bottom,
      rgba(47, 48, 49, 0.726),
      rgba(19, 3, 15, 0.73)
    ),
    url("../img/big\ banner.jpg");
  background-position: center;
  background-size: cover;
  height: 216px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Latest news  */

.latest {
  margin: 8rem;
}

.grid-latest {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.content-container h4 {
  color: var(--dark);
  font-weight: 700;
  font-size: 1.1rem;
  margin: 0.3rem 0;
}

.img-container img {
  height: 150px;
}

.img-container {
  position: relative;
}

/* Footer */

.footer-top {
  height: 100px;
  background: var(--dark);
  padding: 1rem;
}

.footer-links-social,
.footer-links-social-2 {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

ul {
  list-style: none; /* Remove default bullets */
}

.footer-top > ul {
  list-style: none;
}

.card-part4 {
  line-height: 25px;
}

.card-part4 a {
  color: rgb(192, 183, 183);
}

.fork-card-bot > ul > li {
  color: var(--dark-gray);
  line-height: 1.2rem;
  font-size: 0.8rem;
  border-bottom: 1px solid var(--gray);
  padding: 10px 0;
}

.fork-card-top > a:nth-child(2) {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
}

.footer-top > ul.footer-links-social > li a {
  font-size: 1rem;
  color: var(--gray);
  background: rgb(44, 44, 44);
  border-radius: 100%;
  margin: 5px;
  padding: 0.7rem;
}

.footer-top > ul.footer-links-social-2 > li a {
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--dark-gray);
}

.footer-links-social-2 {
  padding-top: 1rem;
}

.footer-bottom {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

/* LAtest Funding */
.funding-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.funding-card {
  padding: 10px;
}

.funding-cards .funding-card {
  position: relative;
}

.card-part1::before {
  content: " ";
  background-image: url("../img/ringover.webp");
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.latest-funding {
  margin: 8rem;
}

.funding-heading-links .flex li {
  list-style: none;
  padding: 20px;
  font-size: 1rem;
  position: relative;
}

.fork-card-bot > ul > li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.funding-heading-links .flex li::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 30px;
  top: 15px;
  left: 0;
  background: var(--orange);
}

.funding-heading-links .flex li:last-child {
  border: none;
}

.card-part1 {
  background: var(--orange);
  height: 40px;
  color: #fff;
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.card-part2 {
  background: #ffebe8;
  height: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-part2-heading,
.card-part2-heading-2,
.card-part1 h3 {
  margin: 0;
  padding-left: 4rem;
}

.card-part2-heading {
  color: black;
  font-weight: 700;
  font-size: 1rem;
  position: relative;
}

.card-part3 p i {
  color: black;
  padding: 3px 10px;
}

.card-part3 {
  border-bottom: solid 1px var(--orange);
}

.dealDiscount div {
  transform: rotate(45deg);
  font-size: 14px;
  font-weight: 700;
  left: 8px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 20px;
  width: 100%;
}

.dealDiscount {
  position: absolute;
  height: 80px;
  width: 80px;
  top: 0;
  right: 0;
  background-image: url("../img/deals-ribbon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* hard fork */

.hard-fork {
  margin: 8rem;
}

.cards {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.fork-card-top {
  height: 250px;
  background:
    linear-gradient(
      to bottom,
      rgba(47, 48, 49, 0.726),
      rgba(19, 3, 15, 0.73)
    ),
    url("../img/california-car-ev-hydrogen-future-electruc-fcev-ev-480x270.webp");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px;
}

.card-heading-p {
  color: #fff;
}

.fork-card-mid {
  display: flex;
  background: wheat;
  height: 80px;
}

.fork-mid-content {
  margin: 15px;
}

.LATEST {
  color: #f42;
  margin: 0;
}

.fork-mid-content > .orange {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 900;
}

.img-container-fork {
  height: 100%;
  width: 150px;
}

.img-container-fork img {
  height: 100%;
}
